@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

.active hr{
  @apply block
}

::-webkit-scrollbar{
  @apply hidden
}

@theme {
  --color-primary: #5f6fff;
  
  /* Grid template */
  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}

*{
  font-family: Outfit;
}

@media (max-width:740px) {
  .active p{
    @apply text-white bg-primary
  }
}